@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #F8FFFB !important;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}
